<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Наши услуги
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_haircut_path %>"><img src="<%= image_url 'haircut.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Стрижки</h3>
				<p><%= link_to 'Открыть', service_haircut_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_haircare_path %>"><img src="<%= image_url 'hair_care.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Уход за волосами</h3>
				<p><%= link_to 'Открыть', service_haircare_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_hairstyling_path %>"><img src="<%= image_url 'hair_styling.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Укладка волос</h3>
				<p><%= link_to 'Открыть', service_hairstyling_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_haircoloring_path %>"><img src="<%= image_url 'hair_coloring.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Окрашивание волос</h3>
				<p><%= link_to 'Открыть', service_haircoloring_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_affro_path %>"><img src="<%= image_url 'affro.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Афропрически</h3>
				<p><%= link_to 'Открыть', service_affro_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>
	
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_hairextension_path %>"><img src="<%= image_url 'hair_extension.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Наращивание волос</h3>
				<p><%= link_to 'Открыть', service_hairextension_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_manicure_path %>"><img src="<%= image_url 'manicure.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Ногтевой сервис (маникюр, педикюр и др.)</h3>
				<p><%= link_to 'Открыть', service_manicure_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>
	
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_chemicalperm_path %>"><img src="<%= image_url 'chemical_perm.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Хим. завивка и долговременная укладка</h3>
				<p><%= link_to 'Открыть', service_chemicalperm_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
		
			<a href="<%= service_makeup_path %>"><img src="<%= image_url 'makeup.jpg' %>" alt=""></a>

			<div class="caption">
				<h3>Brow-bar, моделирование взгляда, макияж</h3>
				<p><%= link_to 'Открыть', service_makeup_path, :class => "btn btn-warning" %></p>
			</div>
		</div>
	</div>
</div>
